<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label>Preferensi Makanan</ion-label>
      </ion-item>
      <a [routerLink]="['/register']" style="text-decoration: none;">
        <ion-item>
          <ion-icon name="bag-handle-outline"></ion-icon>
          <ion-label>Riwayat Pembelian</ion-label>
        </ion-item>
      </a>
      <ion-item>
        <ion-icon name="build-outline"></ion-icon>
        <ion-label>Pengaturan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Keluar</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-button style="margin-top:22px; color:#757575;" slot="start"></ion-menu-button>
      <ion-searchbar style="margin-top:20px; margin-bottom:10px;" showCancelButton="never"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div id="maps" style="width:100%;height:100%;"></div>
  </ion-content>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['dashboard']" tab="about">
          <ion-icon name="storefront-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="maps">
          <ion-icon name="map-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</div>
