<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top:30px">
    <ion-progress-bar value="0.5" buffer="0.75"></ion-progress-bar>
    <ion-card-header>
      <ion-card-title>Preferensi</ion-card-title>
      <ion-card-subtitle style="font-size:14px">Sesuaikan Selera Kuliner Anda!</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label  class="input-text">Jenis Makanan</ion-label>
          <ion-select class="input-text">
            <ion-select-option value="cat">Cat</ion-select-option>
            <ion-select-option value="dog">Dog</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Pedas</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Gurih</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Manis</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Asin</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Asam</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Nutrisi</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Bahan</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Kesegaran</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Kebersihan</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Tekstur</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Level Aroma</ion-label>
          <ion-select value="0" class="input-text">
            <ion-select-option value="0">0</ion-select-option>
            <ion-select-option value="1">1</ion-select-option>
            <ion-select-option value="2">2</ion-select-option>
            <ion-select-option value="3">3</ion-select-option>
            <ion-select-option value="4">4</ion-select-option>
            <ion-select-option value="5">5</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label class="input-text">Status Halal</ion-label>
          <ion-select value="h" class="input-text">
            <ion-select-option value="h">Halal</ion-select-option>
            <ion-select-option value="nh">Non- Halal</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-button [routerLink]="['/dashboard']" style="margin-top:20px" expand="full">Simpan</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
