<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon name="fast-food-outline"></ion-icon>
        <ion-label>Preferensi Makanan</ion-label>
      </ion-item>
      <a [routerLink]="['/register']" style="text-decoration: none;">
        <ion-item>
          <ion-icon name="bag-handle-outline"></ion-icon>
          <ion-label>Riwayat Pembelian</ion-label>
        </ion-item>
      </a>
      <ion-item>
        <ion-icon name="build-outline"></ion-icon>
        <ion-label>Pengaturan</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Keluar</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-menu-button style="margin-top:22px; color:#757575;" slot="start"></ion-menu-button>
      <ion-searchbar style="margin-top:20px; margin-bottom:10px;" showCancelButton="never"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card-title style="text-decoration:underline; margin:13px; font-size:21px">Kuliner Populer</ion-card-title>
    <ion-card>
      <img src="../../assets/img/mie.jpg" />
      <ion-card-header>
        <ion-card-title style="font-size:20px">Mie Aceh Kurnia</ion-card-title>
        <ion-card-subtitle>Rp.25.000</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="font-size:14px">
        Jl. KH. Abdul Rojak Jl. KH. R. Abdullah Bin Nuh No.99, RT.05/RW.04, Cibadak, Kec. Tanah Sereal, Kota Bogor, Jawa Barat 16164
      </ion-card-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <center><a id="detail-produk" routerLink [routerLink]="['/home']">Pilih</a></center>
        </ion-toolbar>
      </ion-footer>
    </ion-card>

    <ion-card-title style="text-decoration:underline; margin:13px; font-size:21px">Rekomendasi Kuliner</ion-card-title>

    <ion-card>
      <img src="../../assets/img/mie.jpg" />
      <ion-card-header>
        <ion-card-title style="font-size:20px">Mie Aceh Kurnia</ion-card-title>
        <ion-card-subtitle>Rp.25.000</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content style="font-size:14px">
        Jl. KH. Abdul Rojak Jl. KH. R. Abdullah Bin Nuh No.99, RT.05/RW.04, Cibadak, Kec. Tanah Sereal, Kota Bogor, Jawa Barat 16164
      </ion-card-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar>
          <center><a id="detail-produk" routerLink [routerLink]="['/home']">Pilih</a></center>
        </ion-toolbar>
      </ion-footer>
    </ion-card>
  </ion-content>

  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/dashboard']" tab="about">
          <ion-icon name="storefront-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="maps">
          <ion-icon name="map-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</div>
