#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#food-image{
  width: 150px;
  margin-bottom: 0px;
  margin-top: 30px;
}

#logo-2{
  text-transform: uppercase;
}

#logo{
  font-size: 30px;
  font-weight: bold;
}

#login-button{
  margin-top: 20px;
  margin-bottom: 12px;
}

#daftar-baru{
  font-size:12px;
  color: #757575;
  text-transform: uppercase;
}

.input-text{
  font-size:14px;
}

#buffer-login{
  visibility: hidden
}
