<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  <!--
  <ion-toolbar>
    <ion-title size="large">Blank</ion-title>
  </ion-toolbar>
  -->
  </ion-header>

  <div id="container">
    <ion-card style="margin-top:30px">
      <ion-progress-bar id="buffer-login" value="0.5" buffer="0.75"></ion-progress-bar>
      <img id="food-image" style="margin-bottom:0px" src="../../assets/img/fruit.png" />
      <ion-card-header>
        <ion-card-subtitle id="logo-2">Selamat Datang Di</ion-card-subtitle>
        <ion-card-title id="logo">Skyline App</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input [(ngModel)]="username" class="input-text" placeholder="Username" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="password" class="input-text" placeholder="Password" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button (click)="loginClick()" id="login-button" expand="full">Masuk</ion-button>
        <a id="daftar-baru" routerLink [routerLink]="['/register']"><u>Daftar Baru</u></a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
