<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin-top:30px">
    <ion-progress-bar value="0.5" buffer="0.75"></ion-progress-bar>
    <ion-card-header>
      <ion-card-title>Daftar Baru</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-input [(ngModel)]="username" class="input-text" placeholder="Username" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="password" class="input-text" placeholder="Password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="input-text" placeholder="Email" type="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="input-text" placeholder="No.Telepon" type="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="jenis_pengguna" (ionChange)="jenisPengguna($event)" class="input-text" placeholder="Jenis Pengguna">
            <ion-select-option value="c">Customer</ion-select-option>
            <ion-select-option value="r">Restoran</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-select class="input-text" placeholder="Asal">
            <ion-select-option value="11">Aceh</ion-select-option>
            <ion-select-option value="71.71">Kota Manado</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-textarea class="input-text" placeholder="Alamat Lengkap"></ion-textarea>
        </ion-item>
        <span item-content id="user_content">
        </span>
      </ion-list>
      <ion-button style="margin-top:20px" routerLink [routerLink]="['/dashboard']" expand="full">Daftar Baru</ion-button>

    </ion-card-content>

  </ion-card>
</ion-content>
